body {
	color: #cca;
	font-family: sans-serif;
	background: url('../../assets/img/dark-brown.png');
}

h1, h2 {
	color: #4a4;
}

.main-box {
	width: 800px;
	border: 1px solid #cca;
	background-color: rgba(200, 200, 150, .2);
}
